.board {
    background-color: #c8ece0; /* Светло-коричневый цвет */
    background-image: linear-gradient(to bottom, #99af5, #99af5); /* Почти прозрачный фон */
    background-size: cover;
    background-position: center;
}

.grid {
    position: static;
    width: 100%;
    height: 100%;
    background: #000; /* Цвет сетки */
    transform: scale(1);
    z-index: auto;
}

.projpanel {
    background-color: #cafced; /* Светло-салатовый цвет */
    background-image: linear-gradient(to bottom, #a899cc, #e9e3f3); /* Почти прозрачный фон */
    background-size: cover;
    background-position: center;
    position: relative;
}
.modal-scrollable {
    overflow-y: auto;
    max-height: 80vh; /* Динамическое ограничение высоты */
}

.grid_new {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #079c21; /* Цвет сетки */
    transform: scale(10);
    z-index: 1;
    /* Добавляем свойство для отображения сетки в виде точек */
    background-size: 20px 20px;
    background-image: linear-gradient(
            to right,
            transparent 0%,
            transparent 25%,
            #ddd 25%,
            #ddd 37.5%,
            transparent 37.5%,
            transparent 50%,
            #ddd 50%,
            #ddd 62.5%,
            transparent 62.5%,
            transparent 75%,
            #ddd 75%,
            #ddd 100%
    );
}

.resizer {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: #ccc;
    cursor: col-resize;
    z-index: 2;
}

.multi-line-fade {
    height: 5lh;
    overflow-y: hidden;
    mask-image:
            linear-gradient(black, black),
            linear-gradient(to right, transparent 80%, black 90%);
    mask-position:
            0 0,
            bottom right;
    mask-size:
            auto,
            100% 1lh;
    mask-repeat: no-repeat;
    mask-composite: exclude;
    border: 2px solid #ccc;
}
.fixed-element {
    position: fixed;
    max-height: 100vh;
    overflow-y: auto;
}
